### Java ###
*.class
*.jar
*.war
*.log

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### Spring Boot Secrets ###
.env
application.properties

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db
